################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ToDublin/.vs/ToDublin/v16/Browse.VC.opendb
