################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.tlog
*.exe
*.metagen
*.log
*.pdb
*.cashe
*.ipch
*.db
*.suo
*.obj
.vs/